#edit {
	position: absolute;
	bottom:  0;
	left: 0;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-content:   flex-start;
	--background: #40455288;
	--width: 120px;
}

#edit input {
	border: none;
	height: 12px;
	min-width: var(--width);
	max-width: var(--width);
	font-size: 8px;
	color: #fff;
	background: var(--background);
}

#edit textarea {
	border: none;
	margin: 0;
	padding: 0;
	color: #ffffff;
	background: var(--background);

	height: 12px;
	width: var(--width);
	font-size: 3px;

	resize: none;
}

#edit textarea:focus {
	height:   400px;
	width:    400px;
	font-size: 12px;

	position: absolute;
	right: -420px;
	top:   -420px;

	transition: all 0.3s;
}